/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

body { font: 16px Helvetica, Arial; color: white;}

main {
	display: flex;
	height: 100%;
	flex-direction: row;
}
.form-container, .messages { padding: 20px; }
.form-container {
	flex: 1;
	border: 6px solid #bfcfd6;

	label { display: block; margin-bottom: 0.5rem; }
}

.pink {

	background-color: #9B4F96 ;
}

.blue {

	background-color: #55cdfc;
}

.yellow {

	background-color: #FFDA00;
}

.messages {
	flex: 2;
	background-color: white;
	border: 6px solid #bfcfd6;
	-webkit-transition: width 0.5s; /* Safari */
  	transition: width 0.5s;
}

input, textarea {
	display: block;
	width: 100%;
	border: 2px solid #bfcfd6;
	//border-color: #bfcfd6;
	border-radius: 4px;
	font-size: 0.8rem;
	padding: 0.4rem;
	border-style: solid;
}

textarea { height: 135px; }



form {
	//background: #000;
	padding: 3px;
	margin: 12px auto;

	input[type=submit] {
		width: auto;
		padding: 10px;
		background-color: blue;
		margin-top: 1rem;
		border-radius: 8px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
	}
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}

#submit-button {
	-webkit-transition: background-color 0.5s; /* Safari */
	transition: background-color 0.5s;
}

#submit-button:hover {
	background-color: #D60270;
}

// imports

@import 'modules/_message';
@import 'modules/_theme_buttons';
@import 'modules/_alert';
